<div class="background-image-itin">

<div class="itin_new">
<h1>Create a new itinerary</h1>

<%= form_for(@itinerary) do |f| %>
  <%= render partial: "formitin", locals: {itinerary: @itinerary, f: f} %>
<% end %>
<h4><%= link_to "<< Return to Itineraries index", itineraries_path %></h4>
</div>
</div>
