// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background-image-place {
  background: url(places.jpg);
  // min-height: 100%;
  // min-width: 100%;
  // background-position:50% 50%;  /* Sets reference point to scale from */
   background-size : 1760px;
  /* Set up proportionate scaling */
  // min-height: 1024px;
  // min-width: 1024px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  /* Set up proportionate scaling */
  width: 120%;
  height: 1024px;

  /* Set up positioning */
  // position: fixed;
  top: 18px;
  margin-left: -1%;


}

.background-image-place a {
  text-decoration: none !important;
}

.places_new {
  margin-left: 30px;
}

.itin_show_add a {
    text-decoration: none !important;
}
