<h1>Edit Place Form</h1>

<%= form_for (@place) do |f| %>
  <!-- <%= f.collection_check_boxes :name, Place.all, :id, :name %></br></br> -->
<%= render partial: "form", locals: {place: @place, f: f} %>

<%= f.submit "Edit place" %>
<% end %>
