<div class="background-image-place">

<div class="places_new">
<h1>Show page for place</h1>

<h2>Name: <%= @place.name %></h2>
<h2>Location: <%= @place.address %></h2>

<%= link_to "<< Return to Itineraries Index", itineraries_path %></br>
<%= link_to "<< Return to List of Places", places_path %>
</div>
</div>
